<!DOCTYPE html>
<html>

<head>
    <title>Taskmanager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home">

    <h1>{{ name }}</h1>

    <p>Willkommen bei unserem Taskmanager!</p>

    <p>
        <a href="/create-task">Aufgabe erstellen</a>
        |
        <a href="/create-group">Gruppe erstellen</a>
    </p>

    {% set current_group = namespace(name=None) %}

    {% for task in tasks %}

    {% if task["name"] != current_group.name %}

    {% if task["name"] != None %}

    <h2 class="group">
        <span class="group-marker">♦</span> {{ task["name"] }}
    </h2>

    {% endif %}

    {% set current_group.name = task["name"] %}

    {% endif %}

    <div class="task {% if task['name'] != None %}grouped-task{% endif %}">

        <span class="task-marker">♦</span>

        <a href="/task/{{ task['id'] }}">{{ task['title'] }}</a>

        <span class="priority">

            {% if task["priority"] == 1 %}
            <span class="priority-marker low">●</span> Niedrig
            {% elif task["priority"] == 2 %}
            <span class="priority-marker medium">●</span> Mittel
            {% elif task["priority"] == 3 %}
            <span class="priority-marker high">●</span> Hoch
            {% endif %}

        </span>

        <span class="status">

            {% if task["status"] == "open" %}
            <span class="status-marker open">■</span> Offen
            {% elif task["status"] == "in_progress" %}
            <span class="status-marker in-progress">■</span> In Bearbeitung
            {% elif task["status"] == "completed" %}
            <span class="status-marker completed">■</span> Erledigt
            {% endif %}

        </span>

        {% if task["deadline"] != None %}
        <span class="deadline">
            – Deadline: {{ task["deadline"] }}
        </span>
        {% endif %}

    </div>

    {% endfor %}

</body>

</html>