<!DOCTYPE html>
<html>

<head>
    <title>Taskmanager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>{{ name }}</h1>

    <p>Willkommen bei unserem Taskmanager!</p>

    {% set current_group = namespace(name=None) %}

    {% for task in tasks %}

    {% if task["name"] != current_group.name %}

    {% if task["name"] != None %}
    <h2 class="group">
        ♦ {{ task["name"] }}
    </h2>
    {% endif %}

    {% set current_group.name = task["name"] %}

    {% endif %}

    <div class="task {% if task['name'] != None %}grouped-task{% endif %}">

        <span class="task-marker">♦</span>

        <a href="/task/{{ task['id'] }}">{{ task['title'] }}</a>

        <span class="priority">

            {% if task["priority"] == 1 %}
            ● Niedrig
            {% elif task["priority"] == 2 %}
            ● Mittel
            {% elif task["priority"] == 3 %}
            ● Hoch
            {% endif %}

        </span>

        <span class="status">

            {% if task["status"] == "open" %}
            ■ Offen
            {% elif task["status"] == "in_progress" %}
            ■ In Bearbeitung
            {% elif task["status"] == "completed" %}
            ■ Erledigt
            {% endif %}

        </span>

        {% if task["deadline"] != None %}
        <span class="deadline">
            – Deadline: {{ task["deadline"] }}
        </span>
        {% endif %}

    </div>

    {% endfor %}

</body>

</html>